<!DOCTYPE>
<html>
<head>
    <meta charset="utf-8">
    <style type="text/css">
        /*.price {*/
        /*color: blue;*/
        /*}*/
    </style>
</head>
<body>
<h1>Login page</h1>

<form action="/login" method="POST">
    <ul>
        <li>
            <label for="username">Username</label>
            <input name="username" >
        </li>
        <li>
            <label for="password">Password</label>
            <input name="password" type="password">
        </li>
        <input type="submit" value="Login">
    </ul>
</form>
</body>
</html>